<p id="notice"><%= notice %></p>

<div class="container mt-4" style="margin-left: 20px;">
  	<strong>작성자 :</strong>
  	<%= @post.account.email %>

	<div class="card p-4 mb-3">
		<h5><strong>제목 : <%= @post.title %></strong></h5>
	  
	  <strong style="margin-top: 30px">내용 :</strong>
	  <%= @post.content %>
	</div>
</div>

<div class="like-section">
	<h5>좋아요 : <%= @post.likes.count %> 개</h5>
	<%= button_to '좋아요', like_category_post_path(@post.category, @post), method: :post, class: 'like-button' %>
</div>

<h5>댓글 <%= @comments.size %> 개</h5>
<ul>
	<% @comments.each do |comment| %>
	<li><%= comment.content %></li>
	<% end %>
</ul>

<%= render 'comments/form', post: @post, comment: @comment %>

<%= link_to '글 수정', edit_category_post_path(@post.category, @post) %> |
<%= link_to '돌아가기', category_path(@post.category) %> |
<%= link_to '글 삭제', category_posts_path(@post.category, @post), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>