<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.account.email %>
</p>

<h5>댓글 <%= @comments.size %> 개</h5>
<ul>
	<% @comments.each do |comment| %>
	<li><%= comment.content %></li>
	<% end %>
</ul>

<%= render 'comments/form', post: @post, comment: @comment %>

<%= link_to '글 수정', edit_category_post_path(@post.category, @post) %> |
<%= link_to '돌아가기', category_path(@post.category) %> |
<%= link_to '글 삭제', category_posts_path(@post.category, @post), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>